.info-zurnalas {
    width: 100%;
    height: 100px;
    background: #ffffff;
    font-size: 16px;
    color: black;
    overflow: auto;
    resize: both;
}

.mainblock-xml {
    border:1px solid #CCC;
    border-radius:4px;
    padding:15px;
    margin-bottom:25px;
}

#wooYayButtonH {
    border:0px;
}


